.Header {
  $header-height: 56px;

  height: $header-height;
  width: 100%;
  z-index: 200;

  &-title {
    color: #eee;
    display: inline-block;
    font-size: 18px;
  }

  &-logo {
    color: #eee;
    display: inline-block;
    height: $header-height;
    padding: 10px;
    text-align: center;
    width: $header-height;
  }

  &-logo img {
    max-width: 100%;
  }
}
