.Header {
  display: block;
  position: relative;
  width: 100%;
  z-index: 200;

  &-bar,
  &-spacer {
    display: block;
    height: 56px;
    margin-top: -60px;
    min-width: 320px;
    transition: margin 0.2s;
    width: 100%;
  }

  &-bar {
    background-color: $brand-color;
    left: 0;
    position: fixed;
    top: 0;
  }

  &-title {
    color: #eee;
    display: none;
    font-size: 18px;

    @media screen and (min-width: 720px) {
      display: inline-block;
    }
  }

  &-logo {
    padding: 10px;
    padding-left: 0;
    width: 46px;

    &.is-spaced {
      padding-left: 10px;
      width: 56px;
    }
  }

  &-logo img {
    width: 100%;
    vertical-align: top;
    margin-top: 50%;
    transform: translateY(-50%);
  }

  /* Common for all lists */
  &-menu,
  &-logo {
    color: #eee;
    display: inline-block;
    height: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 56px;
  }

  /* Common for all icons (togglers) */
  &-toggler {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 100%;
    line-height: 2.2em;
    width: 100%;
  }

  /* Common for all list dropdowns */
  &-list {
    background-color: #f7f7f7;
    border: 1px solid #999;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: inherit;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 56px;
  }
  &-menu.is-open &-list {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.3);
  }

  /* Common for all dropdown elements */
  &-listelem {
    border-bottom: 1px solid #999;
    color: #333;
    display: inline-block;
    opacity: 0;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    transition: opacity 0.1s;
    transition-delay: 0.1s;

    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background-color: rgba($brand-color, 0.1);
    }
    .Header-menu.is-open & {
      opacity: 1;
    }

    .Link {
      cursor: pointer;
      display: inline-block;
      width: 100%;
    }

    .Link,
    .Link:hover {
      color: inherit;
      text-decoration: none;
    }

    .Link-elem {
      padding: 10px;

      &,
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    .Header-itemSelect {
      max-width: calc(100% - 38px);
      padding-right: 0;
    }
    .Header-itemSettings {
      width: auto;
    }

    & > * > * {
      display: inline-block;
      height: 22px;
    }
  }

  &-listelemIcon {
    border-radius: 50%;
    height: 24px;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 24px;
  }

  &-listelemName {
    margin-right: 5px;
    /* 5px: margin; 22px: icon; 10px: ellipsis; 20px: selected icon */
    max-width: calc(100% - 5px - 22px - 10px - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }

  &-listicon {
    display: inline-block;
    margin-top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  /* Right menus */
  &-companies,
  &-user {
    float: right;

    .Header-list {
      border: 0;
      max-height: 0;
      left: initial;
      right: 0;
      width: 250px;

      transition: border 0.2s, max-height 0.2s;
    }

    .Header-listelem {
      text-align: right;
    }

    .is-user & {
      display: inline-block;
    }
  }

  &-menu.is-open &-list {
    border: 1px solid #999;
    border-top: none;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
  }

  /* Modules menu */
  &-moduleslist {
    border-color: transparent;
    border-radius: 0;
    height: calc(100vh - 56px);
    margin-left: -4px;
    min-width: 0;
    overflow: hidden;
    width: 0;

    transition: margin 0.2s, width 0.2s;

    .Header-modules.is-open & {
      margin-left: 0;
      width: 250px;
    }
    &,
    .Header-modules.is-open & {
      border-color: transparent;
    }
  }

  /* Brand icon */
  &-menu.Header-brand {
    width: 44px;
  }

  /* Companies menu */
  &-companies {
    display: none;
    cursor: pointer;
    width: 145px;

    @media screen and (min-width: 450px) {
      width: 250px;
    }

    .Header-toggler.Header-company {
      &,
      & .Header-companyname,
      & .Header-companyicon,
      & .Header-companyicon img {
        display: inline-block;
      }

      & {
        text-align: right;
        text-decoration: none;
      }

      & .Header-companyname,
      & .Header-companyicon {
        margin-top: -5px;
        vertical-align: middle;
      }

      & .Header-companyname {
        font-size: 14px;
        margin-right: 5px;
        /* 5px: margin; 24px: icon; 10px: ellipsis */
        max-width: calc(100% - 5px - 24px - 10px);
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & .Header-companyicon {
        border-radius: 50%;
        height: 24px;
        line-height: 1em;
        overflow: hidden;
        width: 24px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .Header-list .Header-itemSelect,
    .Header-list .Header-itemSettings {
      padding: 10px;

      &.Header-itemSelect {
        padding-right: 0;
      }
    }
  }

  .is-guest &-menu.Header-modules,
  .is-public &-menu.Header-modules {
    display: none;
  }

  .is-guest &-menu.Header-brand,
  .is-public &-menu.Header-brand {
    width: 54px !important;
  }
  .is-guest &-menu.Header-brand &-logo,
  .is-public &-menu.Header-brand &-logo {
    padding-left: 10px;
  }

  &-bar,
  &-spacer {
    margin-top: 0 !important;
  }
}
