.Page {
  @media screen and (min-width: 720px) {
  }

  &-title,
  &-h1,
  &-h2,
  &-h3,
  &-h4 {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
  }

  &-title,
  &-h1 {
    font-size: 24px;
  }

  &-title {
    text-align: center;
    font-weight: 300 !important;

    @media screen and (min-width: 720px) {
      display: none;
    }
  }

  &-h1 {
    font-weight: 700;
  }

  &-h2 {
    font-size: 22px;
    font-weight: 400;
  }

  &-h3 {
    font-size: 20px;
    font-weight: 300;
  }

  &-h4 {
    font-size: 18px;
    font-weight: 300;
  }
}
